
body{
    box-sizing: border-box;
    margin: 10px;
    background-color: black;
}
/*----------------------------------------header section----------------------------------------*/
.header{
    background-color: cadetblue;
    height: 100px;
    text-align: center;
    margin: 5px 0px;
}
.header > span{
    padding-top: 40px;
    font-size: 30px;
}
/*---------------------------------------------navigation section------------------------------------*/
.navigation{
    height: 40px;
    margin: 5px 0px;
    background-color: cornflowerblue;
    text-align: center;
}
.navigation > span{
    font-size: 30px;
}
/*-----------------------------------------------main section-------------------------------------------*/
.main
{
    height: 400px;
    background-color: beige;
    margin: 5px 0px;
    display: flex;
}
.content{
    background-color:beige;
    height: 100%;
    text-align: center;
    width: 20%;
    margin: 0px 5px
}
.maincontent{
    width:60% ;
    height: 100%;
    text-align: center;
    background-color: aquamarine;
    margin: 0px 5px
}
/*-----------------------------------------------footer section-------------------------------------------*/
.footer{
    height: 50px;
    background-color:darkcyan ;
    margin: 5px 0px;
    text-align: center;
}
.footer > span{
    font-size: 30px;
}
/*---------------------------------------------------------media querries--------------------------------------*/
@media screen and (min-width:200px) and (max-width:600px){
    .header{
        height: 30px;
        background-color: aqua;
    }
    .header > span{
        font-size: 20px;
    }
}